<!-- Logback appenders -->


<included>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%-5date %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>
	<appender name="HIBERNATEFILE" class="ch.qos.logback.core.FileAppender">
		<File>shelfscan_hibernate_only.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%-4relative  %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	
	

	
</included>
	

