<configuration>

	<!-- Appenders -->

	<include resource="logback_appenders.xml" />
    <!-- Hibernate -->
     <logger name="org.hibernate" level="INFO" additivity="false">
       <appender-ref ref="HIBERNATEFILE" />
     </logger>
     <logger name="org.hibernate" level="DEBUG" additivity="false">
       <appender-ref ref="HIBERNATEFILE" />
    </logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
        <appender-ref ref="HIBERNATEFILE" />
    </root>


</configuration>
